html {
  font-family: sans-serif;
  padding: 3em;
  background-color: #eee;
}
div {
  max-width: 30em;
  padding-top: 1em;
  margin: 0 auto;
}
.wrap {
  display: flex;
  align-items: center;
  flex-direction: column;  /* make main axis vertical */
}
input,output {
  display: inline-block;
  vertical-align: middle;
}
h2 {
  margin-top: -0.5em;
  font-weight: 400;
}
#log {
  font-family: monospace;
  color: #a00;
}
a {
  color: #668;
}
a:visited {
  color: #66a;
}
span {
  width: 10em;
}
.back {
  text-align: left;
  width: 100%;
}

